// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.prod{
    border:2px solid black;
    background-color: cyan;
    margin:50px 200px 50px 200px;
   
}
strong{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.bbox{
    border:1px solid black;
}
.row{
    border:1px solid black;
    padding: 15px 5px 15px 5px;
}
.col-lg-2{
    font-weight: bold;
    padding:2px 2px 2px 2px;
    text-align: center;
}
